$verde1: #23D962
$verde2: #1c8c38
$verde3: #195929
$verde4: #0DF205
$preto: #1E1E1E

$enable-rounded: false
$body-bg: $preto
$body-color: #FFFFFF

@import '../node_modules/bootstrap/scss/bootstrap'

body
	font-family: Tahoma, sans-serif
	font-size: 8pt
a
	color: #ffffff

.main-title
	text-align: center
	padding: 15px 0
	margin: 0
	font-weight: 100

.form-control
	color: $preto !important

.loading
	position: absolute
	top: 50%
	left: 50%
	z-index: 1000
	transform: translate(-50%, -50%)